.carrousel-item__image {
    width: 800px;
    height: 350px;
    object-fit: cover;
}

.carrousel-item__details {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    opacity: 1;
    transition: .45s opacity;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.carrousel-item__options {
    width: 200px;
}

.carrouse-item__details--title {
    color: white;
    font-size: 20px;
}

.carrouse-item__details--description {
    font-size: 12px;
    color: white;
}