.carrousel {
    display: flex;
    width: 100%;
    overflow: scroll;
    padding-top: 30px;
}

.carrousel__container {
    display: flex;
    padding-bottom: 10px;
    transition: .45s all;
    &:hover {
        .carrousel-item {
            opacity: 0.3;
        }
        .carrousel-item {
            &:hover {
                transform: scale(1.1);
                opacity: 1;
            }
        }
    }
}

.carrousel-item {
    background-color: red;
    width: 770px;
    height: 280px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: .45s all;
    transform-origin: center left;
    &:hover {
        transform: translate3d(100px, 0, 0);
    }
}

.carrousel-buttons {
    position: absolute;
    right: 50px;
    display: flex;
    align-self: flex-end;
    padding-bottom: 20px;
}

.carrousel-button__icon {
    color: white;
}

.carrousel-item__image {
    width: 800px;
    height: 350px;
    object-fit: cover;
}

.carrousel-item__details {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background: linear-gradient(to top, rgba(37, 34, 34, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    opacity: 1;
    transition: .45s opacity;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.carrousel-item__options {
    width: 200px;
}

.carrouse-item__details--title {
    color: white;
    font-size: 20px;
}

.carrouse-item__details--description {
    font-size: 12px;
    color: white;
}

.main-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
}

.main-filters__items--btn {
    margin: 0 7px;
}

.popular-movies,
.popular-movies__children {
    margin-top: 2%;
}

.movie-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.movie-info--title {
    font-size: 15px;
    font-weight: 500;
    color: #757575;
}

.movie-slider {
    display: flex;
    width: 100%;
    overflow: scroll;
    padding: 30px 0;
}

.movie-slider__container {
    display: flex;
    padding-bottom: 10px;
    transition: .45s all;
    &:hover {
        .movie-slider__item {
            opacity: 0.3;
        }
        .movie-slider__item {
            &:hover {
                transform: scale(1.1);
                opacity: 1;
            }
        }
    }
}

.movie-slider__item {
    background-color: red;
    height: 350px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    position: relative;
    padding: 0;
    cursor: pointer;
    transition: .45s all;
    transform-origin: center left;
    &:hover {
        transform: translate3d(100px, 0, 0);
    }
}

.movie-slider-item__image {
    width: 292px;
    height: 350px;
    object-fit: cover;
}

.movie-slider-buttons {
    position: absolute;
    right: 50px;
    display: flex;
    align-self: flex-end;
    padding-bottom: 20px;
}

.movie-slider-button__icon {
    color: rgb(22, 17, 17);
}

@media only screen and (max-width:767px) {
    .carrousel-item {
        width: auto;
    }
    .carrousel-item__image {
        width: auto;
    }
}