/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.contenedor {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
}

.text-center {
    text-align: center;
}

.router-link-active {
    border-bottom: 1px solid #999;
}