<div class="contenedor">
    <div class="row footer">
        <div class="row col-xs-12 text-center">
            <div class="col-xs-4">
                <h3>MovieAll</h3>
                <p class="footer-item">About</p>
                <p class="footer-item">Terms</p>
                <p class="footer-item">Privacity</p>
            </div>
            <div class="col-xs-4">
                <h3>MovieAll</h3>
                <p class="footer-item">Api</p>
                <p class="footer-item">Foro</p>
                <p class="footer-item">Blog</p>
            </div>
            <div class="col-xs-4">
                <h3>MovieAll</h3>
                <p class="footer-item">Facebook</p>
                <p class="footer-item">Instagram</p>
                <p class="footer-item">Twiter</p>
            </div>
        </div>
    </div>
</div>